<div class="container">

  <h1>農委會圖層管理系統</h1>
  <div>
    <%= link_to '圖層總覽', layers_path %> | <%= link_to '分類總覽', layers_path %>
  </div>
  <div class="row">

    <div class="col-md-12">

      <div>
        <%= link_to '新增圖層', new_layer_path, class: "btn btn-primary" %>
      </div>
      <br>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>圖資名稱</th>
            <!-- <th>Category</th> -->
            <th>圖資年份</th>
            <th>提供單位</th>
            <th>圖資格式</th>
            <th>存放位置</th>
            <th>備註</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
          <% @layers.each do |layer| %>
          <tr>
            <th scope="row"><%= latey.id %></th>
            <td><%= layer.title %></td>
           <!--  <td><% if layer.category == nil %><%= nil %><% else %><%= layer.category.name %><% end %></td> -->
            <td><%= layer.year %></td>
            <th><%= layer.owner %></th>
            <th><%= layer.format %></th>
            <th><%= layer.position %></th>
            <th><%= layer.description %></th>
            <td>
              <%= link_to 'Edit', edit_layer_path(layer) %>
              <%= link_to 'Delete', layer_path(layer), method: :delete, data: {confirm:"Are you sure?"} %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>

      
      <div class="text-center">
        <!-- 分頁 -->
      </div>

    </div>

  </div>

</div>