<div class="container">
  <%= link_to '<strong>查看全部</strong>'.html_safe, root_path, class: "btn btn-default" %>
  <br>

  <hr>
  <h3><span id="layer-count">總共 <%= @layers_count %> 筆圖資資訊</span></h3>
  <br>
  <div class="row">

    <div class="col-md-12">

      <div style="margin-right: 50px;display:inline-block">
        <input type="text_area" id="key-words" placeholder="請輸入查詢關鍵字"/>
        <button id="query-layer" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </div>
      
      <div style="margin-right: 50px;display:inline-block">
        <strong>分類查詢：</strong><form style="display:inline-block">
          <select id="select_category" name="YourLocation">
            <option value="0">請選擇圖資分類</option>
            <% @categories.each do |category| %>
      　       <option value="<%= category.id %>"><%= category.name%></option>
            <% end %>
          </select>
        </form>
        <button id="query-category" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </div>

      
      <div style="display:inline-block"> 
        <strong>地籍化圖資：</strong><input type="text_area" id="cadastralize-year" placeholder="請輸入查詢年度"/>
        <button id="find-cadastralize-layer" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
      </div>

      <%= link_to '<strong>新增圖層</strong>'.html_safe, new_layer_path, class: "btn btn-primary pull-right" %>

      <br>
      <br>
      <table id="layer-table" class="table table-striped table-bordered" style="background-color: lightgrey;">
        <thead>
          <tr>
            <th>圖資名稱</th>
            <th>圖資分類</th> 
            <th>圖資年份</th>
            <th>提供單位</th>
            <th>圖資格式</th>
            <th>存放位置</th>
            <th>備註</th>
            <th>#</th>
          </tr>
        </thead>
        <tbody>
            <% @layers.each do |layer| %>
            <tr>
              <td><%= layer.title %></td>
              <td><%= layer.category.name %></td>
              <td><%= layer.year %></td>
              <td><%= layer.owner %></td>
              <td><%= layer.format %></td>
              <td><%= layer.position %></td>
              <td><%= layer.description %></td>
              <td>
                <%= link_to '<span class="glyphicon glyphicon-pencil">編輯</span>'.html_safe, edit_layer_path(layer) %> 
                <%= link_to '<span class="glyphicon glyphicon-trash">刪除</span>'.html_safe, layer_path(layer), method: :delete, data: {confirm:"Are you sure?"} %>
              </td>
            </tr>
            <% end %>
        </tbody>
      </table>

      
      <div class="text-center">
        <%= paginate @layers %>
      </div>

    </div>

  </div>

</div>
<script>

  $("#query-layer").on("click", function(event){
    var key_words = $("#key-words").val();
    $.ajax({
      url: "/query_layer",
      method: "GET",
      dataType: "json",
      data: {
        key_words: key_words,
      },
      success: function(data) {
        console.log(data["counts"]);
        console.log(data["layers"]);
        var count_text = $("#layer-count");
        count_text.html('查詢結果： 共'+data["counts"]+'筆圖資');
          var tableContentHTML = '<thead><tr><th>圖資名稱</th><th>圖資分類</th><th>圖資年份</th><th>提供單位</th><th>圖資格式</th><th>存放位置</th><th>備註</th><th>#</th></tr></thead><tbody>'

          for ( i=0; i<data["counts"]; i++ ) {
            tableContentHTML = tableContentHTML + '<td>' + data["layers"][i]["title"] + '</td>'+ '<td>' + data["layers"][i]["category"]["name"] + '</td>' + '<td>' + data["layers"][i]["year"] + '</td>' + '<td>' + data["layers"][i]['owner'] + '</td>' + '<td>' + data["layers"][i]['format'] + '</td>' + '<td>' + data["layers"][i]['position'] + '</td>' + '<td>' + data["layers"][i]['description'] + '</td>' + '<td>' + '<a href="/layers/'+ data["layers"][i]['id'] +'/edit"><span class="glyphicon glyphicon-pencil">編輯</span></a>' + '<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/layers/'+ data["layers"][i]['id'] +'"><span class="glyphicon glyphicon-trash">刪除</span></a></td></tr></tbody>'
          }
          console.log(tableContentHTML)
          var tableContent = $("#layer-table");
          // tableContent.empty();
          tableContent.html(tableContentHTML);
        
      }

    });
  });

  $("#query-category").on("click", function(event){
    var select_category = $("#select_category").val();
    console.log(select_category);
    $.ajax({
      url: "/query_category",
      method: "GET",
      dataType: "json",
      data: {
        category: select_category
      },
      success: function(data) {
        console.log(data["counts"]);
        console.log(data["layers"]);
        var count_text = $("#layer-count");
        count_text.html('查詢結果： 共'+data["counts"]+'筆圖資');
          var tableContentHTML = '<thead><tr><th>圖資名稱</th><th>圖資分類</th><th>圖資年份</th><th>提供單位</th><th>圖資格式</th><th>存放位置</th><th>備註</th><th>#</th></tr></thead><tbody>'

          for ( i=0; i<data["counts"]; i++ ) {
            tableContentHTML = tableContentHTML + '<td>' + data["layers"][i]["title"] + '</td>'+ '<td>' + data["layers"][i]["category"]["name"] + '</td>' + '<td>' + data["layers"][i]["year"] + '</td>' + '<td>' + data["layers"][i]['owner'] + '</td>' + '<td>' + data["layers"][i]['format'] + '</td>' + '<td>' + data["layers"][i]['position'] + '</td>' + '<td>' + data["layers"][i]['description'] + '</td>' + '<td>' + '<a href="/layers/'+ data["layers"][i]['id'] +'/edit"><span class="glyphicon glyphicon-pencil">編輯</span></a>' + '<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/layers/'+ data["layers"][i]['id'] +'"><span class="glyphicon glyphicon-trash">刪除</span></a></td></tr></tbody>'
          }
          console.log(tableContentHTML)
          var tableContent = $("#layer-table");
          // tableContent.empty();
          tableContent.html(tableContentHTML);
        
      }

    });
  }); 

  $("#find-cadastralize-layer").on("click", function(event){
    var year = $("#cadastralize-year").val();
    console.log(year);
      $.ajax({
        url: "/ca_layer",
        method: "GET",
        dataType: "json",
        data: {
          year: year
        },
        success: function(data) {
          console.log(data["counts"]);
          console.log(data["layers"]);
          var count_text = $("#layer-count");
          count_text.html('查詢結果： 共'+data["counts"]+'筆圖資');
          var tableContentHTML = '<thead><tr><th>圖資名稱</th><th>圖資分類</th><th>圖資年份</th><th>提供單位</th><th>圖資格式</th><th>存放位置</th><th>備註</th><th>#</th></tr></thead><tbody>'

          for ( i=0; i<data["counts"]; i++ ) {
            tableContentHTML = tableContentHTML + '<td>' + data["layers"][i]["title"] + '</td>'+ '<td>' + data["layers"][i]["category"]["name"] + '</td>' + '<td>' + data["layers"][i]["year"] + '</td>' + '<td>' + data["layers"][i]['owner'] + '</td>' + '<td>' + data["layers"][i]['format'] + '</td>' + '<td>' + data["layers"][i]['position'] + '</td>' + '<td>' + data["layers"][i]['description'] + '</td>' + '<td>' + '<a href="/layers/'+ data["layers"][i]['id'] +'/edit"><span class="glyphicon glyphicon-pencil">編輯</span></a>' + '<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/layers/'+ data["layers"][i]['id'] +'"><span class="glyphicon glyphicon-trash">刪除</span></a></td></tr></tbody>'
          }
          console.log(tableContentHTML)
          var tableContent = $("#layer-table");
          // tableContent.empty();
          tableContent.html(tableContentHTML);

        }

      });
  });

</script> 