<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="category_num">
        <h3>共 <%= @categories_count %> 筆分類資訊</h3>
        <div class="form-inline" >
          <%= form_for @category do |f| %>
            <div class="form-group">
              <%= f.text_field :name, placeholder: "分類名稱",  class: "form-control" %>
            </div>
            <%= f.submit class: "btn btn-primary" %>
            <% if @category.errors.any? %>
              <%= @category.errors.full_messages.to_sentence %>
            <% end %>
          <% end %>
        </div>
      </div>
      <br>
      <table class="table table2 table-striped table-bordered" style="background-color: lightgrey;">
        <thead>
          <tr>
            <th class="td-s">#</th>
            <th>分類名稱</th>
            <th class="td1 td-s">#</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <th class="td-s" scope="row"><%= category.id %></th>
            <td><%= category.name %></td>
            <td class="td1 td-s"><%= link_to '<span class="glyphicon glyphicon-pencil">編輯</span>'.html_safe, categories_path(id: category.id) %>  <%= link_to '<span class="glyphicon glyphicon-trash">刪除</span>'.html_safe, category_path(category), method: :delete, data: { confirm: "Are you sure?"} %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="text-center">
        <%= paginate @categories %>
      </div>

    </div>

  </div>
</div>